<div class="breadcrumb-area">
    <div class="container">
        <div class="breadcrumb-content">
            <h2>Chi Tiết</h2>
            <ul>
                <li><a href="index.html">Trang Chủ</a></li>
                <li class="active">Chi Tiết Tin Tức</li>
            </ul>
        </div>
    </div>
</div>
<div class="hiraola-blog_area hiraola-blog_area-2 hiraola-blog-details hiraola-banner_area">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 order-lg-1 order-2">
                <div class="hiraola-blog-sidebar-wrapper">
                    
                    <div class="hiraola-blog-sidebar">
                        <h4 class="hiraola-blog-sidebar-title">Danh Mục Sản Phẩm</h4>
                        <ul class="hiraola-blog-archive" *ngFor="let item of danh_sach_danh_muc">
                            <li >
                                <a style="font-weight: bold; text-transform: uppercase;"  [routerLink]="['/danh-muc', item.maDanhMuc]" >{{item.tenDanhMuc}}</a>
                                <ul *ngIf="item.children && item.children.length> 0"class="module-sub-list_item">
                                    <li *ngFor="let cn of item.children">
                                        <a style="text-transform: capitalize;"[routerLink]="['/danh-muc', cn.maDanhMuc]" >
                                            {{cn.tenDanhMuc}}
                                        </a>
                                    </li>                                      
                                </ul>
                            </li>   
                           
                        </ul>
                    </div>
                    <hr>
                    <div class="hiraola-blog-sidebar">
                        <h4 class="hiraola-blog-sidebar-title">Tiêu Đề Tin</h4>
                        <ul class="hiraola-blog-archive" *ngFor="let list_tin of list_tin">
                            <li><a [routerLink]="['/chi-tiet-tin-tuc',list_tin.maTinTuc]">{{list_tin.tieuDe}}</a></li>                           
                        </ul>
                    </div>
                </div>   
            </div>
            <div class="col-lg-9 order-lg-2 order-1">
                <div class="blog-item" *ngIf="item">
                    <div class="blog-img img-hover_effect">
                        <a>
                            <img src="{{item.anhTinTuc}}" style="height: 400px;" alt="Hiraola's Blog Image">
                        </a>
                        <div class="blog-meta-2">
                            <div class="blog-time_schedule">
                                <span class="month">{{item.createdAt | date:'yyyy-MM-dd'}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="blog-content">
                        <div class="blog-heading">
                            <h5>
                                <a href="javascrip:void(0)">{{item.tieuDe}}</a>
                            </h5>
                        </div>
                        
                    </div>
                    <div class="hiraola-blog-blockquote">
                        <blockquote>
                            <p [innerHTML]="item.noiDung">
                            </p>
                        </blockquote>
                    </div>
                    
                    
                    <div class="hiraola-social_link">
                        <ul>
                            <li class="facebook">
                                <a href="https://www.facebook.com/" data-toggle="tooltip" target="_blank" title="Facebook">
                                    <i class="fab fa-facebook"></i>
                                </a>
                            </li>
                            <li class="twitter">
                                <a href="https://twitter.com/" data-toggle="tooltip" target="_blank" title="Twitter">
                                    <i class="fab fa-twitter-square"></i>
                                </a>
                            </li>
                            <li class="google-plus">
                                <a href="https://www.plus.google.com/discover" data-toggle="tooltip" target="_blank" title="Google Plus">
                                    <i class="fab fa-google-plus"></i>
                                </a>
                            </li>
                            <li class="instagram">
                                <a href="https://rss.com/" data-toggle="tooltip" target="_blank" title="Instagram">
                                    <i class="fab fa-instagram"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>   
                <hr>
            </div>
        </div>
    </div>
</div>