<div class="breadcrumb-area">
    <div class="container">
        <div class="breadcrumb-content">
            <h2>Shop</h2>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li class="active">Shop Left Sidebar</li>
            </ul>
        </div>
    </div>
</div>
<!-- Hiraola's Breadcrumb Area End Here -->

<!-- Begin Hiraola's Content Wrapper Area -->
<div class="hiraola-content_wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 order-2 order-lg-1">
                <div class="hiraola-sidebar-catagories_area">
                    <div class="category-module hiraola-sidebar_categories">
                        <div class="category-module_heading">
                            <h5>Categories</h5>
                        </div>
                        <div class="module-body">
                            <ul class="module-list_item" *ngFor="let item of danh_sach_danh_muc">
                                    <li >
                                        <a style="font-weight: bold; text-transform: uppercase;"  [routerLink]="['/danh-muc', item.maDanhMuc]" >{{item.tenDanhMuc}}</a>
                                        <ul *ngIf="item.children && item.children.length> 0"class="module-sub-list_item">
                                            <li *ngFor="let cn of item.children">
                                                <a style="text-transform: capitalize;"[routerLink]="['/danh-muc', cn.maDanhMuc]" >
                                                    {{cn.tenDanhMuc}}
                                                </a>
                                            </li>                                      
                                        </ul>
                                    </li>                                                                
                            </ul>
                        </div>
                    </div>
                    <div class="hiraola-sidebar_categories">
                        <div class="hiraola-categories_title">
                            <h5>Brand</h5>
                        </div>
                        <ul class="sidebar-checkbox_list">
                            <li>
                                <a href="javascript:void(0)">Brand 1(15)</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">Brand 2(16)</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">Brand 3(16)</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">Brand 4(17)</a>
                            </li>
                        </ul>
                    </div>
                    <div class="hiraola-sidebar_categories">
                        <div class="hiraola-categories_title">
                            <h5>Size</h5>
                        </div>
                        <ul class="sidebar-checkbox_list">
                            <li>
                                <a href="javascript:void(0)">Size 1(17)</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">Size 2(16)</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">Size 3(17)</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">Size 4(17)</a>
                            </li>
                        </ul>
                    </div>
                    <div class="hiraola-sidebar_categories">
                        <div class="hiraola-categories_title">
                            <h5>Weight</h5>
                        </div>
                        <ul class="sidebar-checkbox_list">
                            <li>
                                <a href="javascript:void(0)">Weight 1(16)</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">Weight 2(17)</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">Weight 3(17)</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">Weight 4(17)</a>
                            </li>
                        </ul>
                    </div>

                </div>
                <div class="sidebar-banner_area">
                    <div class="banner-item img-hover_effect">
                        <a href="javascript:void(0)">
                            <img src="assets/images/banner/1_1.jpg" alt="Hiraola's Shop Banner Image">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 order-1 order-lg-2">
                <div class="shop-toolbar">
                    <div class="product-view-mode" >
                        <a class="active grid-3" data-target="gridview-3" data-toggle="tooltip" data-placement="top" title="Grid View"><i class="fa fa-th"></i></a>
                        <a class="list" data-target="listview" data-toggle="tooltip" data-placement="top" title="List View"><i class="fa fa-th-list"></i></a>
                    </div>
                    <div style="  background-color: #e25b57;
                    border: none;
                    color: white;
                    padding: 5px 22px;
                    text-align: center;
                    text-decoration: none;
                    display: inline-block;
                    font-size: 16px;
                    margin: 4px 2px;
                    cursor: pointer;
                    " 
                    [ngClass]="{active: loc=='TD'}" (click)="setDieuKienLoc('TD')" class="name">Giá giảm dần</div>
                    <div style="  background-color: #e25b57;
                    border: none;
                    color: white;
                    padding: 5px 22px;
                    text-align: center;
                    text-decoration: none;
                    display: inline-block;
                    font-size: 16px;
                    margin: 4px 2px;
                    cursor: pointer;
                    "  
                    [ngClass]="{active: loc=='GD'}" (click)="setDieuKienLoc('GD')" class="name">Giá tăng dần</div>                                  
                    <div class="product-item-selection_area">
                        <div class="product-short">
                            <label class="select-label">Trang:</label>
                            <select class="name" (ngModelChange)="loadData($event)" [(ngModel)]="pageSize">
                                <option value="6">6</option>
                                <option value="12">12</option>
                                <option value="24">24</option> 
                                <option value="46">46</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div *ngIf="list_item && list_item.length > 0" class="shop-product-wrap grid gridview-3 row">
                    <div *ngFor="let it of list_item" class="col-lg-4">
                        <div class="slide-item">
                            <div  class="single_product">
                                <div class="product-img">
                                    <a [routerLink]="['/chi-tiet',it.maSanPham]">
                                        <img class="primary-img" src="assets/images/product/medium-size/1-9.jpg" alt="Hiraola's Product Image">
                                        <img class="secondary-img" src="assets/images/product/medium-size/1-8.jpg" alt="Hiraola's Product Image">
                                    </a>
                                    <div class="add-actions">
                                        <ul>
                                            <li><a class="hiraola-add_cart" href="cart.html" data-toggle="tooltip" data-placement="top" title="Add To Cart"><i class="ion-bag"></i></a>
                                            </li>
                                            <li><a class="hiraola-add_compare" href="compare.html" data-toggle="tooltip" data-placement="top" title="Compare This Product"><i
                                                    class="ion-ios-shuffle-strong"></i></a>
                                            </li>
                                            <li class="quick-view-btn" data-toggle="modal" data-target="#exampleModalCenter"><a href="javascript:void(0)" data-toggle="tooltip" data-placement="top" title="Quick View"><i
                                                    class="ion-eye"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="hiraola-product_content">
                                    <div class="product-desc_info">
                                        <h6><a class="product-name" [routerLink]="['/chi-tiet',it.maSanPham]">{{it.tenSanPham}}</a></h6>
                                        <div class="price-box">
                                            <span class="new-price">{{it.gia}}</span>
                                        </div>
                                        <div class="additional-add_action">
                                            <ul>
                                                <li><a class="hiraola-add_compare" href="wishlist.html" data-toggle="tooltip" data-placement="top" title="Add To Wishlist"><i
                                                        class="ion-android-favorite-outline"></i></a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="rating-box">
                                            <ul>
                                                <li><i class="fa fa-star-of-david"></i></li>
                                                <li><i class="fa fa-star-of-david"></i></li>
                                                <li><i class="fa fa-star-of-david"></i></li>
                                                <li><i class="fa fa-star-of-david"></i></li>
                                                <li class="silver-color"><i class="fa fa-star-of-david"></i></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="list-slide_item">
                            <div class="single_product">
                                <div class="product-img">
                                    <a href="single-product.html">
                                        <img class="primary-img" src="assets/images/product/medium-size/1-9.jpg" alt="Hiraola's Product Image">
                                        <img class="secondary-img" src="assets/images/product/medium-size/1-8.jpg" alt="Hiraola's Product Image">
                                    </a>
                                </div>
                                <div class="hiraola-product_content">
                                    <div class="product-desc_info">
                                        <h6><a class="product-name" href="single-product.html">Flash Furniture
                                                Alonza Se...</a></h6>
                                        <div class="rating-box">
                                            <ul>
                                                <li><i class="fa fa-star-of-david"></i></li>
                                                <li><i class="fa fa-star-of-david"></i></li>
                                                <li><i class="fa fa-star-of-david"></i></li>
                                                <li><i class="fa fa-star-of-david"></i></li>
                                                <li class="silver-color"><i class="fa fa-star-of-david"></i></li>
                                            </ul>
                                        </div>
                                        <div class="price-box">
                                            <span class="new-price">£90.36</span>
                                        </div>
                                        <div class="product-short_desc">
                                            <p>The effects of gold are subtle, but definitely apparent. ... It was considered that gold possessed an energy that brought warm, soothing vibrations to the body to aid healing, for when the body relaxes and the blood vessels in the cells aren't as constricted, blood can move through the tissue spaces more easily.</p>
                                        </div>
                                    </div>
                                    <div class="add-actions">
                                        <ul>
                                            <li><a class="hiraola-add_cart" href="cart.html" data-toggle="tooltip" data-placement="top" title="Add To Cart">Add To Cart</a></li>
                                            <li><a class="hiraola-add_compare" href="compare.html" data-toggle="tooltip" data-placement="top" title="Compare This Product"><i
                                                    class="ion-ios-shuffle-strong"></i></a></li>
                                            <li class="quick-view-btn" data-toggle="modal" data-target="#exampleModalCenter"><a href="javascript:void(0)" data-toggle="tooltip" data-placement="top" title="Quick View"><i
                                                    class="ion-eye"></i></a></li>
                                            <li><a class="hiraola-add_compare" href="wishlist.html" data-toggle="tooltip" data-placement="top" title="Add To Wishlist"><i
                                                    class="ion-android-favorite-outline"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="hiraola-paginatoin-area">
                            <div class="row">
                                <ngb-pagination (pageChange)="loadPage($event)" [(page)]="page" [pageSize]="pageSize" [collectionSize]="totalItem">
                                </ngb-pagination>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>