<div class="breadcrumb-area">
    <div class="container">
        <div class="breadcrumb-content">
            <h2>Cửa Hàng</h2>
            <ul>
                <li><a href="index.html">Trang Chủ</a></li>
                <li class="active">Cửa Hàng</li>
            </ul>
        </div>
    </div>
</div>
<div class="hiraola-content_wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 order-2 order-lg-1">
                <div class="hiraola-sidebar-catagories_area">
                    <div class="category-module hiraola-sidebar_categories">
                        <div class="category-module_heading">
                            <h5>Danh Mục</h5>
                        </div>
                        <div class="module-body">
                            <ul class="module-list_item" *ngFor="let item of danh_sach_danh_muc">
                                    <li >
                                        <a style="font-weight: bold; text-transform: uppercase;"  [routerLink]="['/danh-muc', item.maDanhMuc]" >{{item.tenDanhMuc}}</a>
                                        <ul *ngIf="item.children && item.children.length> 0"class="module-sub-list_item">
                                            <li *ngFor="let cn of item.children">
                                                <a style="text-transform: capitalize;"[routerLink]="['/danh-muc', cn.maDanhMuc]" >
                                                    {{cn.tenDanhMuc}}
                                                </a>
                                            </li>                                      
                                        </ul>
                                    </li>                                                                
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="sidebar-banner_area">
                    <div class="banner-item img-hover_effect">
                        <a href="javascript:void(0)">
                            <img src="assets/images/banner/1_1.jpg" alt="Hiraola's Shop Banner Image">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 order-1 order-lg-2">
                <div class="shop-toolbar">
                    <div class="product-view-mode" >
                        <a class="active grid-3" data-target="gridview-3" data-toggle="tooltip" data-placement="top" title="Grid View"><i class="fa fa-th"></i></a>
                        <a class="list" data-target="listview" data-toggle="tooltip" data-placement="top" title="List View"><i class="fa fa-th-list"></i></a>
                    </div>
                    <div style="  background-color: #e25b57;
                    border: none;
                    color: white;
                    padding: 5px 22px;
                    text-align: center;
                    text-decoration: none;
                    display: inline-block;
                    font-size: 16px;
                    margin: 4px 2px;
                    cursor: pointer;
                    " 
                    [ngClass]="{active: loc=='TD'}" (click)="setDieuKienLoc('TD')" class="name">Giá giảm dần</div>
                    <div style="  background-color: #e25b57;
                    border: none;
                    color: white;
                    padding: 5px 22px;
                    text-align: center;
                    text-decoration: none;
                    display: inline-block;
                    font-size: 16px;
                    margin: 4px 2px;
                    cursor: pointer;
                    "  
                    [ngClass]="{active: loc=='GD'}" (click)="setDieuKienLoc('GD')" class="name">Giá tăng dần</div>                                  
                    <div class="product-item-selection_area">
                        <div class="product-short">
                            <label class="select-label">Trang:</label>
                            <select class="name"  class="form-control"(ngModelChange)="loadData($event)" [(ngModel)]="pageSize">
                                <option value="6">6</option>
                                <option value="12">12</option>
                                <option value="24">24</option> 
                                <option value="46">46</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div *ngIf="list_item && list_item.length > 0" class="shop-product-wrap grid gridview-3 row">
                    <div *ngFor="let it of list_item" class="col-lg-4">
                        <div class="slide-item">
                            <div  class="single_product">
                                <div class="product-img">
                                    <a [routerLink]="['/chi-tiet',it.maSanPham]">
                                        <img class="primary-img" src="{{it.anhDaiDien}}" alt="Image">
                                    </a>
                                    <span class="sticker" >{{it.phanTram}}%</span>
                                    <div class="add-actions">
                                        <ul>   
                                            <li><a class="hiraola-add_cart" (click)="_addToCart(it)" data-toggle="tooltip" data-placement="top" title="Thêm Vàp Giỏ Hàng"><i class="ion-bag"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="hiraola-product_content">
                                    <div class="product-desc_info">
                                        <h6><a class="product-name" [routerLink]="['/chi-tiet',it.maSanPham]">{{it.tenSanPham}}</a></h6>
                                        <div class="price-box">
                                            <span class="old-price">{{it.gia | number:'1.0-0' }}</span>
                                        </div>
                                        <div class="additional-add_action">
                                            <ul>
                                                <li>
                                                    <span class="old-price">	{{applyDiscount(it.gia, it.phanTram) | number:'1.0-0'}}</span>
                                                </li>
                                            </ul>
                                        </div>
                                        <!-- <div class="rating-box">
                                            <ul>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                                <li class="silver-color"><i class="fa fa-star"></i></li>
                                            </ul>
                                        </div> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="list-slide_item">
                            <div class="single_product">
                                <div class="product-img">
                                    <a [routerLink]="['/chi-tiet',it.maSanPham]">
                                        <img class="primary-img" src="{{it.anhDaiDien}}" alt="Image">
                                    </a>
                                    <span class="sticker" >{{it.phanTram}}%</span>
                                </div>
                                <div class="hiraola-product_content">
                                    <div class="product-desc_info">
                                       
                                        <h6><a class="product-name" [routerLink]="['/chi-tiet',it.maSanPham]">{{it.tenSanPham}}</a></h6>
                                        <!-- <div class="price-box">
                                            <span class="old-price">{{it.gia | number:'1.0-0' }}</span>
                                        </div> -->
                                        <div class="additional-add_action">
                                            <ul>
                                                <li>
                                                    <span class="old-price">{{applyDiscount(it.gia, it.phanTram) | number:'1.0-0'}}</span>
                                                </li>
                                            </ul>
                                        </div>
                                        <!-- <div class="rating-box">
                                            <ul>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                                <li class="silver-color"><i class="fa fa-star"></i></li>
                                            </ul>
                                        </div> --> 
                                        <div class="product-short_desc">
                                            <p style="height: 100px; overflow: auto; "></p>
                                        </div>
                                    </div>
                                    <div class="add-actions">
                                        <ul>
                                            <li><a class="hiraola-add_cart"  (click)="_addToCart(it)"  data-toggle="tooltip" data-placement="top" title="Thêm Giỏ Hàng">Thêm Giỏ Hàng</a></li>  
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="hiraola-paginatoin-area">
                            <div class="row">
                                <ngb-pagination (pageChange)="loadPage($event)" [(page)]="page" [pageSize]="pageSize" [collectionSize]="totalItem">
                                </ngb-pagination>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>