USE [master]
GO
/****** Object:  Database [API_TrangSuc]    Script Date: 6/7/2023 9:12:24 PM ******/
CREATE DATABASE [API_TrangSuc]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'API_TrangSuc', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\API_TrangSuc.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'API_TrangSuc_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\API_TrangSuc_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [API_TrangSuc].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [API_TrangSuc]
GO
/****** Object:  Table [dbo].[ChiTietAnhSanPham]    Script Date: 6/7/2023 9:12:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietAnhSanPham](
	[MaAnhChitiet] [int] IDENTITY(1,1) NOT NULL,
	[MaSanPham] [int] NULL,
	[Anh] [varchar](500) NULL,
	[created_at] [nvarchar](max) NULL,
	[updated_at] [nvarchar](max) NULL,
 CONSTRAINT [PK_ChiTietAnhSanPham] PRIMARY KEY CLUSTERED 
(
	[MaAnhChitiet] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietDonHang]    Script Date: 6/7/2023 9:12:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietDonHang](
	[MaChiTietDonHang] [int] IDENTITY(1,1) NOT NULL,
	[MaDonHang] [int] NOT NULL,
	[MaSanPham] [int] NOT NULL,
	[SoLuong] [int] NULL,
	[GiaMua] [float] NULL,
	[created_at] [nvarchar](max) NULL,
	[updated_at] [nvarchar](max) NULL,
 CONSTRAINT [PK_ChiTietDonHang] PRIMARY KEY CLUSTERED 
(
	[MaChiTietDonHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietHoaDonNhap]    Script Date: 6/7/2023 9:12:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietHoaDonNhap](
	[MaChiTiet] [int] IDENTITY(1,1) NOT NULL,
	[MaSanPham] [int] NULL,
	[MaHoaDonNhap] [int] NULL,
	[SoLuong] [int] NULL,
	[DonGiaNhap] [float] NULL,
	[created_at] [nvarchar](max) NULL,
	[updated_at] [nvarchar](max) NULL,
 CONSTRAINT [PK_ChiTietHoaDonNhap] PRIMARY KEY CLUSTERED 
(
	[MaChiTiet] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietNhom]    Script Date: 6/7/2023 9:12:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietNhom](
	[MaChiTietNhom] [int] IDENTITY(1,1) NOT NULL,
	[MaNhomSanPham] [int] NOT NULL,
	[MaSanPham] [int] NOT NULL,
	[created_at] [nvarchar](max) NULL,
	[updated_at] [nvarchar](max) NULL,
 CONSTRAINT [PK_ChiTietNhom] PRIMARY KEY CLUSTERED 
(
	[MaChiTietNhom] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DanhMuc]    Script Date: 6/7/2023 9:12:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhMuc](
	[MaDanhMuc] [int] IDENTITY(1,1) NOT NULL,
	[MaDanhMucCha] [int] NULL,
	[TenDanhMuc] [nvarchar](250) NOT NULL,
	[STT] [int] NULL,
	[TrangThai] [bit] NOT NULL,
	[created_at] [nvarchar](max) NULL,
	[updated_at] [nvarchar](max) NULL,
 CONSTRAINT [PK_DanhMuc] PRIMARY KEY CLUSTERED 
(
	[MaDanhMuc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DonHang]    Script Date: 6/7/2023 9:12:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonHang](
	[MaDonHang] [int] IDENTITY(1,1) NOT NULL,
	[MaKhachHang] [int] NULL,
	[NgayDat] [datetime] NULL,
	[TrangThaiDonHang] [int] NULL,
	[created_at] [nvarchar](max) NULL,
	[updated_at] [nvarchar](max) NULL,
 CONSTRAINT [PK_DonHang] PRIMARY KEY CLUSTERED 
(
	[MaDonHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DonViTinh]    Script Date: 6/7/2023 9:12:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonViTinh](
	[MaDonViTinh] [int] IDENTITY(1,1) NOT NULL,
	[TenDonViTinh] [nvarchar](100) NULL,
	[created_at] [nvarchar](max) NULL,
	[updated_at] [nvarchar](max) NULL,
 CONSTRAINT [PK_DonViTinh] PRIMARY KEY CLUSTERED 
(
	[MaDonViTinh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GiamGia]    Script Date: 6/7/2023 9:12:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GiamGia](
	[MaGiamGia] [int] IDENTITY(1,1) NOT NULL,
	[MaSanPham] [int] NULL,
	[PhanTram] [int] NULL,
	[TrangThai] [bit] NULL,
	[created_at] [nvarchar](max) NULL,
	[updated_at] [nvarchar](max) NULL,
 CONSTRAINT [PK_GiamGias] PRIMARY KEY CLUSTERED 
(
	[MaGiamGia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GiaSanPham]    Script Date: 6/7/2023 9:12:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GiaSanPham](
	[MaGiaSanPham] [int] IDENTITY(1,1) NOT NULL,
	[MaSanPham] [int] NOT NULL,
	[Gia] [float] NULL,
	[created_at] [nvarchar](max) NULL,
	[updated_at] [nvarchar](max) NULL,
 CONSTRAINT [PK_GiaSanPham_1] PRIMARY KEY CLUSTERED 
(
	[MaGiaSanPham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDonNhap]    Script Date: 6/7/2023 9:12:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDonNhap](
	[MaHoaDonNhap] [int] IDENTITY(1,1) NOT NULL,
	[SoHoaDon] [nchar](50) NOT NULL,
	[NgayNhap] [datetime] NOT NULL,
	[MaNguoiDung] [int] NULL,
	[MaNhaCungCap] [int] NULL,
	[created_at] [nvarchar](max) NULL,
	[updated_at] [nvarchar](max) NULL,
 CONSTRAINT [PK_HoaDonNhap] PRIMARY KEY CLUSTERED 
(
	[MaHoaDonNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 6/7/2023 9:12:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[MaKhachHang] [int] IDENTITY(1,1) NOT NULL,
	[TenKhachHang] [nvarchar](250) NOT NULL,
	[DiaChi] [nvarchar](1500) NULL,
	[SoDienThoai] [varchar](20) NULL,
	[Email] [varchar](50) NULL,
	[created_at] [nvarchar](max) NULL,
	[updated_at] [nvarchar](max) NULL,
	[MaNguoiDung] [int] NULL,
 CONSTRAINT [PK_KhachHang] PRIMARY KEY CLUSTERED 
(
	[MaKhachHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NguoiDung]    Script Date: 6/7/2023 9:12:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NguoiDung](
	[MaNguoiDung] [int] IDENTITY(1,1) NOT NULL,
	[HoTen] [nvarchar](250) NULL,
	[NgaySinh] [datetime] NULL,
	[GioiTinh] [nvarchar](20) NULL,
	[AnhDaiDien] [varchar](500) NULL,
	[DiaChi] [nvarchar](1500) NULL,
	[Email] [nvarchar](100) NULL,
	[DienThoai] [char](10) NULL,
	[TrangThai] [bit] NULL,
	[created_at] [nvarchar](max) NULL,
	[updated_at] [nvarchar](max) NULL,
 CONSTRAINT [PK_NguoiDung] PRIMARY KEY CLUSTERED 
(
	[MaNguoiDung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhaCungCap]    Script Date: 6/7/2023 9:12:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhaCungCap](
	[MaNhaCungCap] [int] IDENTITY(1,1) NOT NULL,
	[TenNhaCungCap] [nvarchar](250) NULL,
	[DiaChi] [nvarchar](500) NULL,
	[SoDienThoai] [char](20) NULL,
	[Email] [char](50) NULL,
	[created_at] [nvarchar](max) NULL,
	[updated_at] [nvarchar](max) NULL,
 CONSTRAINT [PK_NhaCungCap] PRIMARY KEY CLUSTERED 
(
	[MaNhaCungCap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhaSanXuat]    Script Date: 6/7/2023 9:12:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhaSanXuat](
	[MaNhaSanXuat] [int] IDENTITY(1,1) NOT NULL,
	[TenNhaSanXuat] [nvarchar](250) NULL,
	[MoTa] [ntext] NULL,
	[created_at] [nvarchar](max) NULL,
	[updated_at] [nvarchar](max) NULL,
 CONSTRAINT [PK_NhaSanXuat] PRIMARY KEY CLUSTERED 
(
	[MaNhaSanXuat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhomSanPham]    Script Date: 6/7/2023 9:12:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhomSanPham](
	[MaNhomSanPham] [int] IDENTITY(1,1) NOT NULL,
	[TenNhom] [nvarchar](250) NULL,
	[TrangThai] [bit] NULL,
	[AnhNhom] [nvarchar](max) NULL,
	[created_at] [nvarchar](max) NULL,
	[updated_at] [nvarchar](max) NULL,
 CONSTRAINT [PK_NhomSanPham] PRIMARY KEY CLUSTERED 
(
	[MaNhomSanPham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhanHoi]    Script Date: 6/7/2023 9:12:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhanHoi](
	[MaPhanHoi] [int] IDENTITY(1,1) NOT NULL,
	[MaSanPham] [int] NOT NULL,
	[MaNguoiDung] [int] NOT NULL,
	[NoiDung] [nvarchar](max) NULL,
	[Sao] [int] NULL,
	[NgayPhanHoi] [datetime] NULL,
 CONSTRAINT [PK_Table_1] PRIMARY KEY CLUSTERED 
(
	[MaPhanHoi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanPham]    Script Date: 6/7/2023 9:12:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPham](
	[MaSanPham] [int] IDENTITY(1,1) NOT NULL,
	[MaDanhMuc] [int] NULL,
	[TenSanPham] [nvarchar](250) NULL,
	[MoTaSanPham] [ntext] NULL,
	[AnhDaiDien] [varchar](500) NULL,
	[MaNhaSanXuat] [int] NULL,
	[MaDonViTinh] [int] NULL,
	[created_at] [nvarchar](max) NULL,
	[updated_at] [nvarchar](max) NULL,
 CONSTRAINT [PK_SanPham] PRIMARY KEY CLUSTERED 
(
	[MaSanPham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 6/7/2023 9:12:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[MaTaiKhoan] [int] IDENTITY(1,1) NOT NULL,
	[MaNguoiDung] [int] NULL,
	[TaiKhoan] [varchar](100) NULL,
	[MatKhau] [varchar](100) NULL,
	[TrangThai] [bit] NULL,
	[LoaiQuyen] [varchar](10) NULL,
	[created_at] [nvarchar](max) NULL,
	[updated_at] [nvarchar](max) NULL,
 CONSTRAINT [PK_TaiKhoan] PRIMARY KEY CLUSTERED 
(
	[MaTaiKhoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThongSoKyThuat]    Script Date: 6/7/2023 9:12:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThongSoKyThuat](
	[MaThongSo] [int] IDENTITY(1,1) NOT NULL,
	[MaSanPham] [int] NULL,
	[TenThongSo] [nvarchar](150) NULL,
	[MoTa] [nvarchar](500) NULL,
	[created_at] [nvarchar](max) NULL,
	[updated_at] [nvarchar](max) NULL,
 CONSTRAINT [PK_ThongSKyThuat] PRIMARY KEY CLUSTERED 
(
	[MaThongSo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TinTuc]    Script Date: 6/7/2023 9:12:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TinTuc](
	[MaTinTuc] [int] IDENTITY(1,1) NOT NULL,
	[MaNguoiDung] [int] NULL,
	[TieuDe] [nvarchar](150) NULL,
	[NoiDung] [nvarchar](max) NULL,
	[created_at] [nvarchar](max) NULL,
	[updated_at] [nvarchar](max) NULL,
	[AnhTinTuc] [nvarchar](max) NULL,
 CONSTRAINT [PK_TinTuc] PRIMARY KEY CLUSTERED 
(
	[MaTinTuc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ChiTietAnhSanPham] ON 

INSERT [dbo].[ChiTietAnhSanPham] ([MaAnhChitiet], [MaSanPham], [Anh], [created_at], [updated_at]) VALUES (39, 2111, N'assets/upload/sanpham/OIP (30).jpg', N'Mon, May 15 2023 14:21:54 GMT+07:00 (Việt Nam)', N'Mon, May 15 2023 14:21:54 GMT+07:00 (Việt Nam)')
INSERT [dbo].[ChiTietAnhSanPham] ([MaAnhChitiet], [MaSanPham], [Anh], [created_at], [updated_at]) VALUES (40, 2111, N'assets/upload/sanpham/OIP (31).jpg', N'Mon, May 15 2023 14:22:07 GMT+07:00 (Việt Nam)', N'Mon, May 15 2023 14:22:07 GMT+07:00 (Việt Nam)')
INSERT [dbo].[ChiTietAnhSanPham] ([MaAnhChitiet], [MaSanPham], [Anh], [created_at], [updated_at]) VALUES (41, 2111, N'assets/upload/sanpham/OIP (33).jpg', N'Mon, May 15 2023 14:22:22 GMT+07:00 (Việt Nam)', N'Mon, May 15 2023 14:22:22 GMT+07:00 (Việt Nam)')
SET IDENTITY_INSERT [dbo].[ChiTietAnhSanPham] OFF
GO
SET IDENTITY_INSERT [dbo].[ChiTietDonHang] ON 

INSERT [dbo].[ChiTietDonHang] ([MaChiTietDonHang], [MaDonHang], [MaSanPham], [SoLuong], [GiaMua], [created_at], [updated_at]) VALUES (41, 18, 2111, 1, 190000, NULL, NULL)
INSERT [dbo].[ChiTietDonHang] ([MaChiTietDonHang], [MaDonHang], [MaSanPham], [SoLuong], [GiaMua], [created_at], [updated_at]) VALUES (42, 18, 2110, 1, 237600, NULL, NULL)
INSERT [dbo].[ChiTietDonHang] ([MaChiTietDonHang], [MaDonHang], [MaSanPham], [SoLuong], [GiaMua], [created_at], [updated_at]) VALUES (43, 19, 2109, 1, 1806000, NULL, NULL)
SET IDENTITY_INSERT [dbo].[ChiTietDonHang] OFF
GO
SET IDENTITY_INSERT [dbo].[ChiTietHoaDonNhap] ON 

INSERT [dbo].[ChiTietHoaDonNhap] ([MaChiTiet], [MaSanPham], [MaHoaDonNhap], [SoLuong], [DonGiaNhap], [created_at], [updated_at]) VALUES (15, 2111, 25, 600, 60000000, N'Sat, Jun 03 2023 12:50:35 GMT+07:00 (Việt Nam)', N'Sat, Jun 03 2023 12:50:35 GMT+07:00 (Việt Nam)')
INSERT [dbo].[ChiTietHoaDonNhap] ([MaChiTiet], [MaSanPham], [MaHoaDonNhap], [SoLuong], [DonGiaNhap], [created_at], [updated_at]) VALUES (16, 2110, 26, 3000, 30000000, N'Sat, Jun 03 2023 12:51:03 GMT+07:00 (Việt Nam)', N'Sat, Jun 03 2023 12:51:03 GMT+07:00 (Việt Nam)')
INSERT [dbo].[ChiTietHoaDonNhap] ([MaChiTiet], [MaSanPham], [MaHoaDonNhap], [SoLuong], [DonGiaNhap], [created_at], [updated_at]) VALUES (17, 2109, 27, 35000, 35000000, N'Sat, Jun 03 2023 12:51:31 GMT+07:00 (Việt Nam)', N'Sat, Jun 03 2023 12:51:31 GMT+07:00 (Việt Nam)')
SET IDENTITY_INSERT [dbo].[ChiTietHoaDonNhap] OFF
GO
SET IDENTITY_INSERT [dbo].[ChiTietNhom] ON 

INSERT [dbo].[ChiTietNhom] ([MaChiTietNhom], [MaNhomSanPham], [MaSanPham], [created_at], [updated_at]) VALUES (37, 5, 2105, N'Tue, May 16 2023 17:27:16 GMT+07:00 (Việt Nam)', N'Tue, May 16 2023 17:27:16 GMT+07:00 (Việt Nam)')
INSERT [dbo].[ChiTietNhom] ([MaChiTietNhom], [MaNhomSanPham], [MaSanPham], [created_at], [updated_at]) VALUES (38, 5, 2104, N'Tue, May 16 2023 17:38:41 GMT+07:00 (Việt Nam)', N'Tue, May 16 2023 17:38:41 GMT+07:00 (Việt Nam)')
INSERT [dbo].[ChiTietNhom] ([MaChiTietNhom], [MaNhomSanPham], [MaSanPham], [created_at], [updated_at]) VALUES (39, 4, 2108, N'Tue, May 16 2023 20:52:56 GMT+07:00 (Việt Nam)', N'Tue, May 16 2023 20:52:56 GMT+07:00 (Việt Nam)')
SET IDENTITY_INSERT [dbo].[ChiTietNhom] OFF
GO
SET IDENTITY_INSERT [dbo].[DanhMuc] ON 

INSERT [dbo].[DanhMuc] ([MaDanhMuc], [MaDanhMucCha], [TenDanhMuc], [STT], [TrangThai], [created_at], [updated_at]) VALUES (1009, NULL, N'Nhẫn', 1, 1, N'Sun, Apr 16 2023 13:09:59 GMT+07:00 (Việt Nam)', N'Sun, Apr 16 2023 13:09:59 GMT+07:00 (Việt Nam)')
INSERT [dbo].[DanhMuc] ([MaDanhMuc], [MaDanhMucCha], [TenDanhMuc], [STT], [TrangThai], [created_at], [updated_at]) VALUES (1010, NULL, N'Lắc', 1, 1, N'Sun, Apr 16 2023 13:12:05 GMT+07:00 (Việt Nam)', N'Sun, Apr 16 2023 13:12:05 GMT+07:00 (Việt Nam)')
INSERT [dbo].[DanhMuc] ([MaDanhMuc], [MaDanhMucCha], [TenDanhMuc], [STT], [TrangThai], [created_at], [updated_at]) VALUES (1011, NULL, N'Vòng', 1, 1, N'Sun, Apr 16 2023 13:12:14 GMT+07:00 (Việt Nam)', N'Sun, Apr 16 2023 13:12:14 GMT+07:00 (Việt Nam)')
SET IDENTITY_INSERT [dbo].[DanhMuc] OFF
GO
SET IDENTITY_INSERT [dbo].[DonHang] ON 

INSERT [dbo].[DonHang] ([MaDonHang], [MaKhachHang], [NgayDat], [TrangThaiDonHang], [created_at], [updated_at]) VALUES (18, 31, CAST(N'2023-05-19T20:14:10.563' AS DateTime), 4, NULL, N'Sat, May 20 2023 16:48:14 GMT+07:00 (Việt Nam)')
INSERT [dbo].[DonHang] ([MaDonHang], [MaKhachHang], [NgayDat], [TrangThaiDonHang], [created_at], [updated_at]) VALUES (19, 32, CAST(N'2023-05-19T20:15:15.440' AS DateTime), 4, NULL, N'Sat, May 20 2023 16:48:08 GMT+07:00 (Việt Nam)')
INSERT [dbo].[DonHang] ([MaDonHang], [MaKhachHang], [NgayDat], [TrangThaiDonHang], [created_at], [updated_at]) VALUES (21, 34, CAST(N'2023-06-03T17:10:33.677' AS DateTime), 1, NULL, NULL)
SET IDENTITY_INSERT [dbo].[DonHang] OFF
GO
SET IDENTITY_INSERT [dbo].[DonViTinh] ON 

INSERT [dbo].[DonViTinh] ([MaDonViTinh], [TenDonViTinh], [created_at], [updated_at]) VALUES (4, N'kg', N'Sun, Apr 16 2023 14:04:42 GMT+07:00 (Việt Nam)', N'Sun, Apr 16 2023 14:04:43 GMT+07:00 (Việt Nam)')
INSERT [dbo].[DonViTinh] ([MaDonViTinh], [TenDonViTinh], [created_at], [updated_at]) VALUES (5, N'hg', N'Sun, Apr 16 2023 14:04:51 GMT+07:00 (Việt Nam)', N'Sun, Apr 16 2023 14:04:51 GMT+07:00 (Việt Nam)')
INSERT [dbo].[DonViTinh] ([MaDonViTinh], [TenDonViTinh], [created_at], [updated_at]) VALUES (6, N'dag', N'Sun, Apr 16 2023 14:04:56 GMT+07:00 (Việt Nam)', N'Sun, Apr 16 2023 14:04:56 GMT+07:00 (Việt Nam)')
SET IDENTITY_INSERT [dbo].[DonViTinh] OFF
GO
SET IDENTITY_INSERT [dbo].[GiamGia] ON 

INSERT [dbo].[GiamGia] ([MaGiamGia], [MaSanPham], [PhanTram], [TrangThai], [created_at], [updated_at]) VALUES (2011, 2104, 3, NULL, N'Mon, May 15 2023 12:47:36 GMT+07:00 (Việt Nam)', N'Mon, May 15 2023 13:23:47 GMT+07:00 (Việt Nam)')
INSERT [dbo].[GiamGia] ([MaGiamGia], [MaSanPham], [PhanTram], [TrangThai], [created_at], [updated_at]) VALUES (2012, 2105, 0, NULL, N'Mon, May 15 2023 13:22:38 GMT+07:00 (Việt Nam)', N'Mon, May 15 2023 13:22:38 GMT+07:00 (Việt Nam)')
INSERT [dbo].[GiamGia] ([MaGiamGia], [MaSanPham], [PhanTram], [TrangThai], [created_at], [updated_at]) VALUES (2013, 2106, 19, NULL, N'Mon, May 15 2023 13:28:13 GMT+07:00 (Việt Nam)', N'Tue, Jun 06 2023 16:01:50 GMT+07:00 (Việt Nam)')
SET IDENTITY_INSERT [dbo].[GiamGia] OFF
GO
SET IDENTITY_INSERT [dbo].[GiaSanPham] ON 

INSERT [dbo].[GiaSanPham] ([MaGiaSanPham], [MaSanPham], [Gia], [created_at], [updated_at]) VALUES (2151, 2104, 1200000, N'Mon, May 15 2023 12:47:36 GMT+07:00 (Việt Nam)', N'Mon, May 15 2023 13:23:47 GMT+07:00 (Việt Nam)')
INSERT [dbo].[GiaSanPham] ([MaGiaSanPham], [MaSanPham], [Gia], [created_at], [updated_at]) VALUES (2152, 2105, 1200000, N'Mon, May 15 2023 13:22:38 GMT+07:00 (Việt Nam)', N'Mon, May 15 2023 13:22:38 GMT+07:00 (Việt Nam)')
INSERT [dbo].[GiaSanPham] ([MaGiaSanPham], [MaSanPham], [Gia], [created_at], [updated_at]) VALUES (2153, 2106, 10000000, N'Mon, May 15 2023 13:28:13 GMT+07:00 (Việt Nam)', N'Tue, Jun 06 2023 16:01:50 GMT+07:00 (Việt Nam)')
SET IDENTITY_INSERT [dbo].[GiaSanPham] OFF
GO
SET IDENTITY_INSERT [dbo].[HoaDonNhap] ON 

INSERT [dbo].[HoaDonNhap] ([MaHoaDonNhap], [SoHoaDon], [NgayNhap], [MaNguoiDung], [MaNhaCungCap], [created_at], [updated_at]) VALUES (25, N'SHD_1759628558                                    ', CAST(N'2023-06-03T00:00:00.000' AS DateTime), 25, 3, N'Sat, Jun 03 2023 12:50:34 GMT+07:00 (Việt Nam)', N'Sat, Jun 03 2023 12:50:34 GMT+07:00 (Việt Nam)')
INSERT [dbo].[HoaDonNhap] ([MaHoaDonNhap], [SoHoaDon], [NgayNhap], [MaNguoiDung], [MaNhaCungCap], [created_at], [updated_at]) VALUES (26, N'SHD_1704414474                                    ', CAST(N'2023-06-03T00:00:00.000' AS DateTime), 25, 4, N'Sat, Jun 03 2023 12:51:03 GMT+07:00 (Việt Nam)', N'Sat, Jun 03 2023 12:51:03 GMT+07:00 (Việt Nam)')
INSERT [dbo].[HoaDonNhap] ([MaHoaDonNhap], [SoHoaDon], [NgayNhap], [MaNguoiDung], [MaNhaCungCap], [created_at], [updated_at]) VALUES (27, N'SHD_623027270                                     ', CAST(N'2023-06-03T00:00:00.000' AS DateTime), 25, 3, N'Sat, Jun 03 2023 12:51:31 GMT+07:00 (Việt Nam)', N'Sat, Jun 03 2023 12:51:31 GMT+07:00 (Việt Nam)')
SET IDENTITY_INSERT [dbo].[HoaDonNhap] OFF
GO
SET IDENTITY_INSERT [dbo].[KhachHang] ON 

INSERT [dbo].[KhachHang] ([MaKhachHang], [TenKhachHang], [DiaChi], [SoDienThoai], [Email], [created_at], [updated_at], [MaNguoiDung]) VALUES (11, N'đông', N'Hưng yên', N'0965543245', N'', NULL, NULL, NULL)
INSERT [dbo].[KhachHang] ([MaKhachHang], [TenKhachHang], [DiaChi], [SoDienThoai], [Email], [created_at], [updated_at], [MaNguoiDung]) VALUES (12, N'mai', NULL, N'', NULL, NULL, NULL, NULL)
INSERT [dbo].[KhachHang] ([MaKhachHang], [TenKhachHang], [DiaChi], [SoDienThoai], [Email], [created_at], [updated_at], [MaNguoiDung]) VALUES (13, N'mai', NULL, N'', NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[KhachHang] OFF
GO
SET IDENTITY_INSERT [dbo].[NguoiDung] ON 

INSERT [dbo].[NguoiDung] ([MaNguoiDung], [HoTen], [NgaySinh], [GioiTinh], [AnhDaiDien], [DiaChi], [Email], [DienThoai], [TrangThai], [created_at], [updated_at]) VALUES (15, N'Phạm Xuân Dũng', CAST(N'2001-08-28T00:00:00.000' AS DateTime), N'Nam', N'assets/upload/auth/avatar-s-9.png', N'Hải Dương', N'phamdungtk.hd2001@gmail.com', N'0374314346', 1, N'Thu, Apr 13 2023 11:13:59 GMT+07:00 (Việt Nam)', N'Mon, Apr 24 2023 13:42:33 GMT+07:00 (Việt Nam)')
INSERT [dbo].[NguoiDung] ([MaNguoiDung], [HoTen], [NgaySinh], [GioiTinh], [AnhDaiDien], [DiaChi], [Email], [DienThoai], [TrangThai], [created_at], [updated_at]) VALUES (17, N'Phạm Văn Quang', CAST(N'2001-05-25T00:00:00.000' AS DateTime), N'Nam', N'assets/upload/auth/avatar-s-3.jpg', N'Hải Dương', N'pvq2001@gmail.com', N'0123456789', 1, N'Sun, Apr 16 2023 13:35:50 GMT+07:00 (Việt Nam)', N'Sun, Apr 16 2023 13:35:50 GMT+07:00 (Việt Nam)')
INSERT [dbo].[NguoiDung] ([MaNguoiDung], [HoTen], [NgaySinh], [GioiTinh], [AnhDaiDien], [DiaChi], [Email], [DienThoai], [TrangThai], [created_at], [updated_at]) VALUES (18, N'Đỗ Văn Duy', CAST(N'2001-09-16T00:00:00.000' AS DateTime), N'Nam', N'assets/upload/auth/avatar-s-5.jpg', N'Hải Dương', N'dvd2001@gmail.com', N'0123456789', 1, N'Sun, Apr 16 2023 13:37:05 GMT+07:00 (Việt Nam)', N'Sun, Apr 16 2023 16:31:20 GMT+07:00 (Việt Nam)')
SET IDENTITY_INSERT [dbo].[NguoiDung] OFF
GO
SET IDENTITY_INSERT [dbo].[NhaCungCap] ON 

INSERT [dbo].[NhaCungCap] ([MaNhaCungCap], [TenNhaCungCap], [DiaChi], [SoDienThoai], [Email], [created_at], [updated_at]) VALUES (3, N'Phạm Xuân Dũng', N'An Thanh Tứ Kỳ Hải Dương', N'0374314346          ', N'haihoang@kikai.vn                                 ', N'Mon, May 15 2023 15:59:11 GMT+07:00 (Việt Nam)', N'Mon, May 15 2023 16:01:05 GMT+07:00 (Việt Nam)')
INSERT [dbo].[NhaCungCap] ([MaNhaCungCap], [TenNhaCungCap], [DiaChi], [SoDienThoai], [Email], [created_at], [updated_at]) VALUES (4, N'Đỗ Thị Lý', N'Cộng Lạc Tứ Kỳ Hải Dương', N'0374314545          ', N'doly2001@gmail.com                                ', N'Mon, May 15 2023 16:02:37 GMT+07:00 (Việt Nam)', N'Mon, May 15 2023 16:02:37 GMT+07:00 (Việt Nam)')
INSERT [dbo].[NhaCungCap] ([MaNhaCungCap], [TenNhaCungCap], [DiaChi], [SoDienThoai], [Email], [created_at], [updated_at]) VALUES (5, N'Nguyễn Đức Quyết', N'Tp.Hải Dương', N'0374314256          ', N'nvq2001@gmail.com                                 ', N'Sat, Jun 03 2023 12:55:09 GMT+07:00 (Việt Nam)', N'Sat, Jun 03 2023 12:55:09 GMT+07:00 (Việt Nam)')
SET IDENTITY_INSERT [dbo].[NhaCungCap] OFF
GO
SET IDENTITY_INSERT [dbo].[NhaSanXuat] ON 

INSERT [dbo].[NhaSanXuat] ([MaNhaSanXuat], [TenNhaSanXuat], [MoTa], [created_at], [updated_at]) VALUES (8, N'Công Ty TNHH Vàng Bạc Đá Quý Huy Thành', N'<p>135 Hàng Bạc, Hoàn Kiếm, <i><strong>Hà Nội</strong></i></p><p><strong>(024) 39264656</strong></p><p><a href="mailto:cskh@htj.vn">cskh@htj.vn</a></p>', N'Sun, Apr 16 2023 16:43:37 GMT+07:00 (Việt Nam)', N'Sun, Apr 16 2023 16:43:37 GMT+07:00 (Việt Nam)')
SET IDENTITY_INSERT [dbo].[NhaSanXuat] OFF
GO
SET IDENTITY_INSERT [dbo].[NhomSanPham] ON 

INSERT [dbo].[NhomSanPham] ([MaNhomSanPham], [TenNhom], [TrangThai], [AnhNhom], [created_at], [updated_at]) VALUES (4, N'Nhẫn Vàng', NULL, N'assets/upload/nhomsanpham/1_2 - Copy.jpg', N'Tue, Apr 25 2023 15:19:20 GMT+07:00 (Việt Nam)', N'Thu, May 18 2023 15:23:20 GMT+07:00 (Việt Nam)')
INSERT [dbo].[NhomSanPham] ([MaNhomSanPham], [TenNhom], [TrangThai], [AnhNhom], [created_at], [updated_at]) VALUES (5, N'Bông tai', NULL, N'assets/upload/nhomsanpham/1_4 - Copy.jpg', N'Tue, Apr 25 2023 15:22:25 GMT+07:00 (Việt Nam)', N'Thu, May 18 2023 15:23:32 GMT+07:00 (Việt Nam)')
INSERT [dbo].[NhomSanPham] ([MaNhomSanPham], [TenNhom], [TrangThai], [AnhNhom], [created_at], [updated_at]) VALUES (6, N'Vòng Vàng Cho Nữ', NULL, N'assets/upload/nhomsanpham/1_3 - Copy.jpg', N'Thu, May 18 2023 15:23:52 GMT+07:00 (Việt Nam)', N'Thu, May 18 2023 15:32:09 GMT+07:00 (Việt Nam)')
SET IDENTITY_INSERT [dbo].[NhomSanPham] OFF
GO
SET IDENTITY_INSERT [dbo].[PhanHoi] ON 

INSERT [dbo].[PhanHoi] ([MaPhanHoi], [MaSanPham], [MaNguoiDung], [NoiDung], [Sao], [NgayPhanHoi]) VALUES (6, 2109, 18, N'O đấy', 5, CAST(N'2023-05-20T16:24:17.913' AS DateTime))
INSERT [dbo].[PhanHoi] ([MaPhanHoi], [MaSanPham], [MaNguoiDung], [NoiDung], [Sao], [NgayPhanHoi]) VALUES (7, 2112, 18, N'ok quá ad ơi ', 5, CAST(N'2023-05-20T18:33:25.027' AS DateTime))
INSERT [dbo].[PhanHoi] ([MaPhanHoi], [MaSanPham], [MaNguoiDung], [NoiDung], [Sao], [NgayPhanHoi]) VALUES (9, 2112, 18, N'Đẹp Quá', 5, CAST(N'2023-05-20T18:34:07.723' AS DateTime))
SET IDENTITY_INSERT [dbo].[PhanHoi] OFF
GO
SET IDENTITY_INSERT [dbo].[SanPham] ON 

SET IDENTITY_INSERT [dbo].[SanPham] OFF
GO
SET IDENTITY_INSERT [dbo].[TaiKhoan] ON 

INSERT [dbo].[TaiKhoan] ([MaTaiKhoan], [MaNguoiDung], [TaiKhoan], [MatKhau], [TrangThai], [LoaiQuyen], [created_at], [updated_at]) VALUES (15, 15, N'phamdung', N'123456@', 1, N'Admin', N'Thu, Apr 13 2023 11:14:00 GMT+07:00 (Việt Nam)', N'Mon, Apr 24 2023 13:42:33 GMT+07:00 (Việt Nam)')
INSERT [dbo].[TaiKhoan] ([MaTaiKhoan], [MaNguoiDung], [TaiKhoan], [MatKhau], [TrangThai], [LoaiQuyen], [created_at], [updated_at]) VALUES (17, 17, N'pvq2001', N'123456@', 1, N'User', N'Sun, Apr 16 2023 13:35:50 GMT+07:00 (Việt Nam)', N'Sun, Apr 16 2023 13:35:50 GMT+07:00 (Việt Nam)')
INSERT [dbo].[TaiKhoan] ([MaTaiKhoan], [MaNguoiDung], [TaiKhoan], [MatKhau], [TrangThai], [LoaiQuyen], [created_at], [updated_at]) VALUES (18, 18, N'dvd2001', N'123456@', 1, N'User', N'Sun, Apr 16 2023 13:37:05 GMT+07:00 (Việt Nam)', N'Sun, Apr 16 2023 16:31:20 GMT+07:00 (Việt Nam)')
SET IDENTITY_INSERT [dbo].[TaiKhoan] OFF
GO
SET IDENTITY_INSERT [dbo].[ThongSoKyThuat] ON 

INSERT [dbo].[ThongSoKyThuat] ([MaThongSo], [MaSanPham], [TenThongSo], [MoTa], [created_at], [updated_at]) VALUES (2012, 2105, N'Bông Tai Con Ong', N'<p>Bông tai Vàng 18K đính đá Citrine</p><p>Trọng lượng tham khảo: &nbsp; 13.33545phân</p><p>Loại đá chính: Citrine</p><p>Màu đá chính: Cam</p><p>Hình dạng đá: Tròn</p><p>Loại đá phụ: Xoàn mỹ</p><p>Màu đá phụ: Trắng</p><p>Số viên đá chính: 2viên</p>', N'Mon, May 15 2023 13:22:38 GMT+07:00 (Việt Nam)', N'Mon, May 15 2023 13:22:38 GMT+07:00 (Việt Nam)')
INSERT [dbo].[ThongSoKyThuat] ([MaThongSo], [MaSanPham], [TenThongSo], [MoTa], [created_at], [updated_at]) VALUES (2013, 2106, N'Nhân Kim Cương 12g', N'<p>Bông tai Vàng 18K đính đá Citrine</p><p>Trọng lượng tham khảo: &nbsp; 13.33545phân</p><p>Loại đá chính: Citrine</p><p>Màu đá chính: Cam</p><p>Hình dạng đá: Tròn</p><p>Loại đá phụ: Xoàn mỹ</p><p>Màu đá phụ: Trắng</p>', N'Mon, May 15 2023 13:28:13 GMT+07:00 (Việt Nam)', N'Mon, May 15 2023 13:29:30 GMT+07:00 (Việt Nam)')
SET IDENTITY_INSERT [dbo].[ThongSoKyThuat] OFF
GO
SET IDENTITY_INSERT [dbo].[TinTuc] ON 

SET IDENTITY_INSERT [dbo].[TinTuc] OFF
GO
ALTER TABLE [dbo].[ChiTietAnhSanPham]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietAnhSanPham_SanPham] FOREIGN KEY([MaSanPham])
REFERENCES [dbo].[SanPham] ([MaSanPham])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChiTietAnhSanPham] CHECK CONSTRAINT [FK_ChiTietAnhSanPham_SanPham]
GO
ALTER TABLE [dbo].[ChiTietDonHang]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietDonHang_DonHang] FOREIGN KEY([MaDonHang])
REFERENCES [dbo].[DonHang] ([MaDonHang])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChiTietDonHang] CHECK CONSTRAINT [FK_ChiTietDonHang_DonHang]
GO
ALTER TABLE [dbo].[ChiTietDonHang]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietDonHang_SanPham] FOREIGN KEY([MaSanPham])
REFERENCES [dbo].[SanPham] ([MaSanPham])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChiTietDonHang] CHECK CONSTRAINT [FK_ChiTietDonHang_SanPham]
GO
ALTER TABLE [dbo].[ChiTietHoaDonNhap]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietHoaDonNhap_HoaDonNhap] FOREIGN KEY([MaHoaDonNhap])
REFERENCES [dbo].[HoaDonNhap] ([MaHoaDonNhap])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChiTietHoaDonNhap] CHECK CONSTRAINT [FK_ChiTietHoaDonNhap_HoaDonNhap]
GO
ALTER TABLE [dbo].[ChiTietHoaDonNhap]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietHoaDonNhap_SanPham] FOREIGN KEY([MaSanPham])
REFERENCES [dbo].[SanPham] ([MaSanPham])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[ChiTietHoaDonNhap] CHECK CONSTRAINT [FK_ChiTietHoaDonNhap_SanPham]
GO
ALTER TABLE [dbo].[ChiTietNhom]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietNhom_NhomSanPham] FOREIGN KEY([MaNhomSanPham])
REFERENCES [dbo].[NhomSanPham] ([MaNhomSanPham])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChiTietNhom] CHECK CONSTRAINT [FK_ChiTietNhom_NhomSanPham]
GO
ALTER TABLE [dbo].[ChiTietNhom]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietNhom_SanPham] FOREIGN KEY([MaSanPham])
REFERENCES [dbo].[SanPham] ([MaSanPham])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChiTietNhom] CHECK CONSTRAINT [FK_ChiTietNhom_SanPham]
GO
ALTER TABLE [dbo].[DonHang]  WITH CHECK ADD  CONSTRAINT [FK_DonHang_KhachHang] FOREIGN KEY([MaKhachHang])
REFERENCES [dbo].[KhachHang] ([MaKhachHang])
GO
ALTER TABLE [dbo].[DonHang] CHECK CONSTRAINT [FK_DonHang_KhachHang]
GO
ALTER TABLE [dbo].[GiamGia]  WITH CHECK ADD  CONSTRAINT [FK_GiamGia_SanPham] FOREIGN KEY([MaSanPham])
REFERENCES [dbo].[SanPham] ([MaSanPham])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GiamGia] CHECK CONSTRAINT [FK_GiamGia_SanPham]
GO
ALTER TABLE [dbo].[GiaSanPham]  WITH CHECK ADD  CONSTRAINT [FK_GiaSanPham_SanPham] FOREIGN KEY([MaSanPham])
REFERENCES [dbo].[SanPham] ([MaSanPham])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GiaSanPham] CHECK CONSTRAINT [FK_GiaSanPham_SanPham]
GO
ALTER TABLE [dbo].[HoaDonNhap]  WITH CHECK ADD  CONSTRAINT [FK_HoaDonNhap_NguoiDung] FOREIGN KEY([MaNguoiDung])
REFERENCES [dbo].[NguoiDung] ([MaNguoiDung])
GO
ALTER TABLE [dbo].[HoaDonNhap] CHECK CONSTRAINT [FK_HoaDonNhap_NguoiDung]
GO
ALTER TABLE [dbo].[HoaDonNhap]  WITH CHECK ADD  CONSTRAINT [FK_HoaDonNhap_NhaCungCap] FOREIGN KEY([MaNhaCungCap])
REFERENCES [dbo].[NhaCungCap] ([MaNhaCungCap])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[HoaDonNhap] CHECK CONSTRAINT [FK_HoaDonNhap_NhaCungCap]
GO
ALTER TABLE [dbo].[KhachHang]  WITH CHECK ADD  CONSTRAINT [FK_KhachHang_NguoiDung] FOREIGN KEY([MaNguoiDung])
REFERENCES [dbo].[NguoiDung] ([MaNguoiDung])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[KhachHang] CHECK CONSTRAINT [FK_KhachHang_NguoiDung]
GO
ALTER TABLE [dbo].[PhanHoi]  WITH CHECK ADD  CONSTRAINT [FK_PhanHoi_NguoiDung] FOREIGN KEY([MaNguoiDung])
REFERENCES [dbo].[NguoiDung] ([MaNguoiDung])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PhanHoi] CHECK CONSTRAINT [FK_PhanHoi_NguoiDung]
GO
ALTER TABLE [dbo].[PhanHoi]  WITH CHECK ADD  CONSTRAINT [FK_PhanHoi_SanPham] FOREIGN KEY([MaSanPham])
REFERENCES [dbo].[SanPham] ([MaSanPham])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PhanHoi] CHECK CONSTRAINT [FK_PhanHoi_SanPham]
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD  CONSTRAINT [FK_SanPham_DanhMuc] FOREIGN KEY([MaDanhMuc])
REFERENCES [dbo].[DanhMuc] ([MaDanhMuc])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[SanPham] CHECK CONSTRAINT [FK_SanPham_DanhMuc]
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD  CONSTRAINT [FK_SanPham_DonViTinh] FOREIGN KEY([MaDonViTinh])
REFERENCES [dbo].[DonViTinh] ([MaDonViTinh])
GO
ALTER TABLE [dbo].[SanPham] CHECK CONSTRAINT [FK_SanPham_DonViTinh]
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD  CONSTRAINT [FK_SanPham_NhaSanXuat] FOREIGN KEY([MaNhaSanXuat])
REFERENCES [dbo].[NhaSanXuat] ([MaNhaSanXuat])
GO
ALTER TABLE [dbo].[SanPham] CHECK CONSTRAINT [FK_SanPham_NhaSanXuat]
GO
ALTER TABLE [dbo].[TaiKhoan]  WITH CHECK ADD  CONSTRAINT [FK_TaiKhoan_NguoiDung] FOREIGN KEY([MaNguoiDung])
REFERENCES [dbo].[NguoiDung] ([MaNguoiDung])
GO
ALTER TABLE [dbo].[TaiKhoan] CHECK CONSTRAINT [FK_TaiKhoan_NguoiDung]
GO
ALTER TABLE [dbo].[ThongSoKyThuat]  WITH CHECK ADD  CONSTRAINT [FK_ThongSoKyThuat_SanPham1] FOREIGN KEY([MaSanPham])
REFERENCES [dbo].[SanPham] ([MaSanPham])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ThongSoKyThuat] CHECK CONSTRAINT [FK_ThongSoKyThuat_SanPham1]
GO
ALTER TABLE [dbo].[TinTuc]  WITH CHECK ADD  CONSTRAINT [FK_TinTuc_NguoiDung] FOREIGN KEY([MaNguoiDung])
REFERENCES [dbo].[NguoiDung] ([MaNguoiDung])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[TinTuc] CHECK CONSTRAINT [FK_TinTuc_NguoiDung]
GO
USE [master]
GO
