<!-- <div class="loading">
    <div class="text-center middle">
        <div class="lds-ellipsis">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
</div> -->

<div class="slider-with-category_menu">
    <div class="container-fluid">
        <div class="row">
            <div class="col grid-half order-md-2 order-lg-1">
                <div class="category-menu">
                    <div class="category-heading">
                        <h2 class="categories-toggle"><span>Danh Mục Sản Phẩm</span></h2>
                    </div>
                    <div id="cate-toggle" class="category-menu-list">
                        <ul *ngIf="danh_sach_danh_muc && danh_sach_danh_muc.length > 0">                         
                            <li *ngFor="let dsdm of danh_sach_danh_muc" class="right-menu"><a [routerLink]="['/danh-muc', dsdm.maDanhMuc]" style="text-transform: capitalize;">{{dsdm.tenDanhMuc}}</a>
                                <ul class="cat-mega-menu cat-mega-menu-3">
                                    <li class="right-menu cat-mega-title">
                                        <a style="text-transform: capitalize;">{{dsdm.tenDanhMuc}}</a>
                                        <ul *ngIf="dsdm.children && dsdm.children.length> 0">
                                            <li  *ngFor="let cn of dsdm.children"><a [routerLink]="['/danh-muc', cn.maDanhMuc]" >{{cn.tenDanhMuc}}</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col grid-full order-md-1 order-lg-2">
                <div class="hiraola-slider_area">
                    <div class="main-slider">
                        <!-- Begin Single Slide Area -->
                        <div class="single-slide animation-style-01 bg-1">
                            <div class="container">
                                <div class="slider-content">
                                    <!-- <h5><span>Black Friday</span> This Week</h5>
                                    <h2>Work Desk</h2> -->
                                    <h3>HIRAOLA!</h3>
                                    <!-- <h4>Starting at <span>£1599.00</span></h4> -->
                                    <div class="hiraola-btn-ps_left slide-btn">
                                        <a class="hiraola-btn" [routerLink]="['/san-pham']" >Tới Cửa Hàng</a>
                                    </div>
                                </div>
                                <div class="slider-progress"></div>
                            </div>
                        </div>
                        <!-- Single Slide Area End Here -->
                        <!-- Begin Single Slide Area -->
                        <div class="single-slide animation-style-02 bg-2">
                            <div class="container">
                                <div class="slider-content">
                                    <!-- <h5><span>-10% Off</span> This Week</h5>
                                    <h2>Phantom4</h2> -->
                                    <h3>HIRAOLA!</h3>
                                    <!-- <h4>Starting at <span>£809.00</span></h4> -->
                                    <div class="hiraola-btn-ps_left slide-btn">
                                        <a class="hiraola-btn" [routerLink]="['/san-pham']" >Tới Cửa Hàng</a>
                                    </div>
                                </div>
                                <div class="slider-progress"></div>
                            </div>
                        </div>
                        <div class="single-slide animation-style-02 bg-3">
                            <div class="container">
                                <div class="slider-content">
                                    <!-- <h5><span>Black Friday</span> This Week</h5>
                                    <h2>Work Desk</h2> -->
                                    <h3>HIRAOLA!</h3>
                                    <!-- <h4>Starting at <span>£1599.00</span></h4> -->
                                    <div class="hiraola-btn-ps_left slide-btn">
                                        <a class="hiraola-btn" [routerLink]="['/san-pham']" >Tới Cửa Hàng</a>
                                    </div>
                                </div>
                                <div class="slider-progress"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col grid-half grid-md_half order-md-2 order-lg-3">
                <div class="banner-item img-hover_effect">
                    <a href="shop-left-sidebar.html">
                        <img class="img-full" src="assets/images/banner/1_1.jpg" alt="Hiraola's Banner">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="hiraola-banner_area">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4" *ngFor="let x of danh_sach_nhom ">
                <div class="banner-item img-hover_effect">
                    <a [routerLink]="['/nhom-san-pham', x.maNhomSanPham]">
                        <img class="img-full" src="{{x.anhNhom}}" alt="Hiraola's Banner">
                        <!-- <span style="text-align: center;">{{x.tenNhom}}</span> -->
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="hiraola-product-tab_area-3">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="product-tab">
                    <div class="hiraola-tab_title">
                    <h4>Tổng Quan Sản Phẩm</h4>
                    </div>
                </div>
                <div class="tab-content hiraola-tab_content">
                    <div id="necklaces-1" class="tab-pane active show" role="tabpanel">
                        <div class="hiraola-product-tab_slider-3">
                            <div class="slide-item" *ngFor="let dssp of danh_sach_san_pham">
                                <div class="single_product"  >
                                    <div class="product-img">
                                        <a  [routerLink]="['/chi-tiet',dssp.maSanPham]">
                                            <img class="primary-img" src="{{dssp.anhDaiDien}}" alt="Image">
                                        </a>
                                        <span class="sticker">{{dssp.phanTram}}%</span>
                                        <div class="add-actions">
                                            <ul>
                                                <li><a class="hiraola-add_cart" (click)="_addToCart(dssp)" data-toggle="tooltip" data-placement="top" title="Thêm Vàp Giỏ Hàng"><i class="ion-bag"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="hiraola-product_content">
                                        <div class="product-desc_info">
                                            <h6><a class="product-name" [routerLink]="['/chi-tiet',dssp.maSanPham]">{{dssp.tenSanPham}}</a></h6>
                                            <div class="price-box">
                                                <span class="old-price">{{dssp.gia | number:'1.0-0' }}đ</span>
                                            </div>
                                            <div class="additional-add_action">                         
                                                <span class="old-price">{{applyDiscount(dssp.gia, dssp.phanTram) | number:'1.0-0'}}đ</span>
                                            </div>
                                            <!-- <div class="rating-box">
                                                <ul>
                                                    <li><i class="fa fa-star"></i></li>
                                                    <li><i class="fa fa-star"></i></li>
                                                    <li><i class="fa fa-star"></i></li>
                                                    <li><i class="fa fa-star"></i></li>
                                                    <li class="silver-color"><i class="fa fa-star"></i></li>
                                                </ul>
                                            </div> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="static-banner_area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="static-banner-image"></div>
                <div class="static-banner-content">
                    <!-- <p><span>-25% Off</span>This Week</p>
                    <h2>Featured Product</h2> -->
                    <h3>CHÀO MỪNG BẠN ĐẾN HIRAOLA!</h3>
                    <!-- <p class="schedule">
                        Starting at
                        <span> £1209.00</span>
                    </p> -->
                    <div class="hiraola-btn-ps_left">
                        <a class="hiraola-btn" [routerLink]="['/san-pham']" >Tới Cửa Hàng</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="hiraola-product-tab_area-3">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="product-tab">
                    <div class="hiraola-tab_title">
                    <h4>Sản Phẩm Nhiều Người Mua</h4>
                    </div>
                </div>
                <div class="tab-content hiraola-tab_content">
                    <div id="necklaces-1" class="tab-pane active show" role="tabpanel">
                        <div class="hiraola-product-tab_slider-3">
                            <div class="slide-item" *ngFor="let dssp of list_nhieungmua">
                                <div class="single_product"  >
                                    <div class="product-img">
                                        <a  [routerLink]="['/chi-tiet',dssp.maSanPham]">
                                            <img class="primary-img" src="{{dssp.anhDaiDien}}" alt="Image">
                                        </a>
                                        <span class="sticker">{{dssp.phanTram}}%</span>
                                        <div class="add-actions">
                                            <ul>
                                                <li><a class="hiraola-add_cart" (click)="_addToCart(dssp)" data-toggle="tooltip" data-placement="top" title="Thêm Vàp Giỏ Hàng"><i class="ion-bag"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="hiraola-product_content">
                                        <div class="product-desc_info">
                                            <h6><a class="product-name" [routerLink]="['/chi-tiet',dssp.maSanPham]">{{dssp.tenSanPham}}</a></h6>
                                            <div class="price-box">
                                                <span class="old-price">{{dssp.gia | number:'1.0-0' }}đ</span>
                                            </div>
                                            <div class="additional-add_action">                         
                                                <span class="old-price">{{applyDiscount(dssp.gia, dssp.phanTram) | number:'1.0-0'}}đ</span>
                                            </div>
                                            <div class="rating-box">
                                                <ul>
                                                    <li><a href="">{{dssp.tong}} Lượt Mua</a></li>
                                                    <!-- <li><i class="fa fa-star"></i></li>
                                                    <li><i class="fa fa-star"></i></li>
                                                    <li><i class="fa fa-star"></i></li>
                                                    <li class="silver-color"><i class="fa fa-star"></i></li> -->
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="hiraola-banner_area-2">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="banner-item img-hover_effect">
                    <a href="shop-left-sidebar.html">
                        <img class="img-full" src="assets/images/banner/1_5.jpg" alt="Hiraola's Banner">
                    </a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="banner-item img-hover_effect">
                    <a href="shop-left-sidebar.html">
                        <img class="img-full" src="assets/images/banner/1_6.jpg" alt="Hiraola's Banner">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="hiraola-product-tab_area-3">
    <div class="container">
        <div class="row">
           
                <div class="col-lg-12">
                     
                    <div class="product-tab">
                        <div class="hiraola-tab_title">
                        <h4>Sản Phẩm Đồng Giá 200k</h4>
                     
                        </div>
                    </div>
                    
                    <div class="tab-content hiraola-tab_content">
                            <div id="necklaces-1" class="tab-pane active show" role="tabpanel">
                                <div class="hiraola-product-tab_slider-3">
                                    <div class="slide-item" *ngFor="let dssp of list_donggia">
                                        <div class="single_product"  >
                                            <div class="product-img">
                                                <a  [routerLink]="['/chi-tiet',dssp.maSanPham]">
                                                    <img class="primary-img" src="{{dssp.anhDaiDien}}" alt="Image">
                                                </a>
                                                <span class="sticker">{{dssp.phanTram}}%</span>
                                                <div class="add-actions">
                                                    <ul>
                                                        <li><a class="hiraola-add_cart" (click)="_addToCart(dssp)" data-toggle="tooltip" data-placement="top" title="Thêm Vàp Giỏ Hàng"><i class="ion-bag"></i></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="hiraola-product_content">
                                                <div class="product-desc_info">
                                                    <h6><a class="product-name" [routerLink]="['/chi-tiet',dssp.maSanPham]">{{dssp.tenSanPham}}</a></h6>
                                                    <div class="price-box">
                                                        <span class="old-price">{{dssp.gia | number:'1.0-0' }}đ</span>
                                                    </div>
                                                    <div class="additional-add_action">                         
                                                        <span class="old-price">{{applyDiscount(dssp.gia, dssp.phanTram) | number:'1.0-0'}}đ</span>
                                                    </div>
                                                    <!-- <div class="rating-box">
                                                        <ul>
                                                            <li><i class="fa fa-star"></i></li>
                                                            <li><i class="fa fa-star"></i></li>
                                                            <li><i class="fa fa-star"></i></li>
                                                            <li><i class="fa fa-star"></i></li>
                                                            <li class="silver-color"><i class="fa fa-star"></i></li>
                                                        </ul>
                                                    </div> -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                 
                    
                </div>
          
        </div>
    </div>
</div>

<hr>
