<header class="header-main_area">
    <div class="header-top_area">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="ht-left_area">
                        <div class="header-shipping_area">
                            <ul>
                                <li>
                                    <span>Điện Thoại:</span>
                                    <a href="callto://+123123321345">(+84) 734 143 46</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="ht-right_area">
                        <div class="ht-menu">
                            <ul>
                                <li><a href="javascript:void(0)">Tiền Tệ<i class="fa fa-chevron-down"></i></a>
                                    <ul class="ht-dropdown ht-currency">
                                        <li><a href="javascript:void(0)">€ EUR</a></li>
                                        <li class="active"><a href="javascript:void(0)">đ VND</a></li>
                                        <li><a href="javascript:void(0)">$ Us Dollar</a></li>
                                    </ul>
                                </li>
                                <li><a href="javascript:void(0)">Ngôn Ngữ <i class="fa fa-chevron-down"></i></a>
                                    <ul class="ht-dropdown">
                                        <li class="active"><a href="javascript:void(0)"><img src="assets/images/menu/icon/1.jpg" alt="JB's Language Icon">English</a></li>
                                        <li><a href="javascript:void(0)"><img src="assets/images/menu/icon/2.jpg" alt="JB's Language Icon">Français</a>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="my-account.html">Tài Khoản<i class="fa fa-chevron-down"></i></a>
                                    <ul class="ht-dropdown ht-my_account">
                                        <li><a href="javascript:void(0)">Đăng Ký</a></li>
                                        <li class="active"><a href="javascript:void(0)">Đăng Nhập</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-middle_area d-none d-lg-block">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="header-logo">
                        <a href="#">
                            <img src="assets/images/menu/logo/1.png" alt="Hiraola's Header Logo">
                        </a>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="hm-form_area">
                        <form action="#" class="hm-searchbox">
                            <select class="nice-select select-search-category">
                                <option value="0">All</option>
                                <option value="10">Laptops</option>
                                <option value="17">- - Prime Video</option>
                                <option value="20">- - - - All Videos</option>
                                <option value="21">- - - - Blouses</option>
                                <option value="22">- - - - Evening Dresses</option>
                                <option value="23">- - - - Summer Dresses</option>
                                <option value="24">- - - - T-shirts</option>
                                <option value="25">- - - - Rent or Buy</option>
                                <option value="26">- - - - Your Watchlist</option>
                                <option value="27">- - - - Watch Anywhere</option>
                                <option value="28">- - - - Getting Started</option>
                                <option value="18">- - - - Computers</option>
                                <option value="29">- - - - More to Explore</option>
                                <option value="30">- - - - TV &amp; Video</option>
                                <option value="31">- - - - Audio &amp; Theater</option>
                                <option value="32">- - - - Camera, Photo </option>
                                <option value="33">- - - - Cell Phones</option>
                                <option value="34">- - - - Headphones</option>
                                <option value="35">- - - - Video Games</option>
                                <option value="36">- - - - Wireless Speakers</option>
                                <option value="19">- - - - Electronics</option>
                                <option value="37">- - - - Amazon Home</option>
                                <option value="38">- - - - Kitchen &amp; Dining</option>
                                <option value="39">- - - - Furniture</option>
                                <option value="40">- - - - Bed &amp; Bath</option>
                                <option value="41">- - - - Appliances</option>
                                <option value="11">TV &amp; Audio</option>
                                <option value="42">- - Chamcham</option>
                                <option value="45">- - - - Office</option>
                                <option value="47">- - - - Gaming</option>
                                <option value="48">- - - - Chromebook</option>
                                <option value="49">- - - - Refurbished</option>
                                <option value="50">- - - - Touchscreen</option>
                                <option value="51">- - - - Ultrabooks</option>
                                <option value="52">- - - - Blouses</option>
                                <option value="43">- - Sanai</option>
                                <option value="53">- - - - Hard Drives</option>
                                <option value="54">- - - - Graphic Cards</option>
                                <option value="55">- - - - Processors (CPU)</option>
                                <option value="56">- - - - Memory</option>
                                <option value="57">- - - - Motherboards</option>
                                <option value="58">- - - - Fans &amp; Cooling</option>
                                <option value="59">- - - - CD/DVD Drives</option>
                                <option value="44">- - Meito</option>
                                <option value="60">- - - - Sound Cards</option>
                                <option value="61">- - - - Cases &amp; Towers</option>
                                <option value="62">- - - - Casual Dresses</option>
                                <option value="63">- - - - Evening Dresses</option>
                                <option value="64">- - - - T-shirts</option>
                                <option value="65">- - - - Tops</option>
                                <option value="12">Smartphone</option>
                                <option value="66">- - Camera Accessories</option>
                                <option value="68">- - - - Octa Core</option>
                                <option value="69">- - - - Quad Core</option>
                                <option value="70">- - - - Dual Core</option>
                                <option value="71">- - - - 7.0 Screen</option>
                                <option value="72">- - - - 9.0 Screen</option>
                                <option value="73">- - - - Bags &amp; Cases</option>
                                <option value="67">- - XailStation</option>
                                <option value="74">- - - - Batteries</option>
                                <option value="75">- - - - Microphones</option>
                                <option value="76">- - - - Stabilizers</option>
                                <option value="77">- - - - Video Tapes</option>
                                <option value="78">- - - - Memory Card Readers</option>
                                <option value="79">- - - - Tripods</option>
                                <option value="13">Cameras</option>
                                <option value="14">headphone</option>
                                <option value="15">Smartwatch</option>
                                <option value="16">Accessories</option>
                            </select>
                            <input type="text" placeholder="Enter your search key ...">
                            <button class="li-btn" type="submit"><i class="fa fa-search"></i></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-bottom_area header-sticky stick">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-4 d-lg-none d-block">
                    <div class="header-logo">
                        <a href="#">
                            <img src="assets/images/menu/logo/2.png" alt="Hiraola's Header Logo">
                        </a>
                    </div>
                </div>
                <div class="col-lg-9 d-none d-lg-block position-static">
                    <div class="main-menu_area">
                        <nav>
                            <ul>
                                <li class="dropdown-holder"><a href="#">Trang Chủ</a>                                   
                                </li>
                                <li class="megamenu-holder"><a href="shop-left-sidebar.html">Sản Phẩm</a>                                  
                                </li>
                                <li><a href="blog-left-sidebar.html">Tin Tức</a>
                                 
                                </li>
                                <li><a href="about-us.html">Giới Thiệu</a></li>
                                <li><a href="contact.html">Thưởng Hiệu</a></li>
                                <li><a href="shop-left-sidebar.html">KHuyến Mãi</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="col-lg-3 col-md-8 col-sm-8">
                    <div class="header-right_area">
                        <ul>
                            <li>
                                <a href="wishlist.html" class="wishlist-btn">
                                    <i class="ion-android-favorite-outline"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#mobileMenu" class="mobile-menu_btn toolbar-btn color--white d-lg-none d-block">
                                    <i class="ion-navicon"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#miniCart" class="minicart-btn toolbar-btn">
                                    <i class="ion-bag"></i>  <span  style="position: absolute ; top:0px; right: 15px; width: 23px ; height: 23px ; border-radius: 50% ; background-color: rgb(128, 0, 255) ; font-size:14px ; line-height:20px ; text-align: center; color: white; font-weight: bold;">{{sosanphams}}</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="offcanvas-minicart_wrapper" id="miniCart">
        <div class="offcanvas-menu-inner" >
            <a href="#" class="btn-close"><i class="ion-android-close"></i>
            </a>
          
            <div class="minicart-content">
                <div class="minicart-heading">
                    <h4>Giỏ Hàng</h4>
                </div>
                <ul class="minicart-list" *ngFor="let x of list">
                    <li class="minicart-product">
                        <a class="product-item_remove" (click)="Xoa(x.maSanPham)"><i class="ion-android-close"></i></a>
                        <div class="product-item_img">
                            <img [src]="x.anhDaiDien" alt="Hiraola's Product Image">
                        </div>
                        <div class="product-item_content">
                            <a class="product-item_title" href="shop-left-sidebar.html">{{x.tenSanPham}}</a>
                            <span class="product-item_quantity">{{x.gia}}đ</span>
                        </div>
                    </li>                    
                </ul>
            </div>
            <div class="minicart-item_total">
                <span>Tổng:</span>
                <span class="ammount">{{tTong}}đ</span>
            </div>
            <div class="minicart-btn_area">
                <a [routerLink]="['/customers/cart']" class="hiraola-btn hiraola-btn_dark hiraola-btn_fullwidth">Giỏ Hàng</a>
            </div>
            <div class="minicart-btn_area">
                <a [routerLink]="['/customers/check-out']" class="hiraola-btn hiraola-btn_dark hiraola-btn_fullwidth">Thanh Toán</a>
            </div>
        </div>
    </div>

</header>