<div class="app-content content">
    <div class="content-wrapper">
      <div class="content-wrapper-before"></div>
      <div class="content-header row">
        <div class="content-header-left col-md-4 col-12 mb-2">
			<button (click)="createModal()" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
				Thêm Sản Phẩm
			</button>
        </div>
        <div class="content-header-right col-md-8 col-12">
          <div class="breadcrumbs-top float-md-right">
            <div class="breadcrumb-wrapper mr-1">
              	<ol class="breadcrumb">
                	<li class="breadcrumb-item"><a href="index.html">Trang Chủ</a>
                		</li>
                			<li class="breadcrumb-item active">Người Dùng
                		</li>
              		</ol>
            		</div>
          		</div>
        	</div>
      	</div>
    	<div class="content-body"><!-- Basic Tables start -->
        	<div class="row">
            	<div class="col-12">
              
                    <div class="card">   
                        <div class="card-content collapse show">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead class="thead-dark">
                                        <tr style="text-align: center;">
                                            <th >STT</th>
                                            <th >Ảnh</th>
                                            <th >Ngày Thêm</th>
                                            <th >Ngày Sửa</th>                                  
                                            <th >Thao Tác</th>                             
                                        </tr>
                                    </thead>
                                    <tbody> 
                                        <tr *ngFor="let ur of list_ctanhsanpham index as i" style="text-align: center;">
                                            <td style="vertical-align: middle;">{{ i + 1 }}</td>
                                            <td style="vertical-align: middle;"><img [src]="ur.anh"
                                                style="width: 58px; height: 58px;" class="img-rounded" alt=""></td>
                                            <td style="vertical-align: middle;">{{ur.createdAt | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                                            <td style="vertical-align: middle;">{{ur.updatedAt | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                                            <td style="text-align: center; vertical-align: middle;"> 
                                                <div class="card-content collapse show">
                                                    <div class="card-body">
                                                        <div class="form-group">                                                                                                       
                                                            <button type="button" [routerLink]="['/auth/chi-tiet-anh', ur.maSanPham]" class="btn btn-outline-info btn-sm mr-1"><i class="la la-file-image-o"></i></button>
                                                            <button type="button" (click)="openUpdateModal(ur.maAnhChitiet)" class="btn btn-outline-warning btn-sm mr-1"><i class="la la-edit"></i></button>
                                                            <button type="button" (click)="onRemove(ur.maAnhChitiet)"class="btn btn-outline-red btn-sm mr-1"><i class="la la-trash"></i></button>							
                                                        </div>
                                                    </div>
                                                </div>      
                                            </td>                         
                                        </tr>                          
                                    </tbody>
                                </table>
                            </div>
                        </div>                 				
                    </div>
            	</div>
        	</div>
      	</div>
    </div>
</div>
<div *ngIf="showUpdateModal" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" id="createsanphamModal">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>
			<hr>
			<form *ngIf="doneSetupForm" [formGroup]="frmCTAnhSanPham" (ngSubmit)="OnSubmit(frmCTAnhSanPham.value)"
				class="form-horizontal">
				<div class="modal-body" style="padding-left: 50px !important; padding-right:50px !important;">
                    <!-- <div class="form-group">
						<label class="col-lg-3 control-label">Tên Sản Phẩm</label>
                        <div class="col-lg-12 ">
                            <select formControlName="txt_masp" [(ngModel)]="maSanPham" #sel_sp (change)="change_sp(sel_sp.value)" class="form-control">
                                <option *ngFor="let sp of list_sanpham" [selected]="selectsp==sp.maSanPham?true:false" value="{{sp.maSanPham}}">{{sp.tenSanPham}}</option>
                            </select>
                        </div>                       
					</div> -->
					<div class="form-group">
						<label class="col-lg-3 control-label">Tên Sản Phẩm:</label>
						<div class="col-lg-12">
							<select formControlName="txt_masp" [(ngModel)]="msp" class="form-control">
								<option *ngFor="let sp of list_sanpham"  value="{{sp.maSanPham}}">{{sp.tenSanPham}}</option>
							</select>						
						</div>
					</div>
                    <div class="form-group">
						<label class="col-lg-3 control-label">Ảnh:</label>
						<div class="col-lg-12">
							<div class="media no-margin-top">
								<div class="media-left">
									<a><img
											[src]="ctanhsanpham && ctanhsanpham.anh?ctanhsanpham.anh:'assets/images/placeholder.jpg'"
											style="width: 58px; height: 58px;" class="img-rounded" alt=""></a>
								</div>

								<div class="media-body">
									<input formControlName="txt_anh" (change)="upload($event)"accept=".jpg,.png,.jpeg,.gif,.bmp,.tif,.tiff"
										type="file" class="file-styled">
									<span class="help-block">Accepted formats: gif, png, jpg. Max file size 2Mb</span>
								</div>
							</div>
						</div>
					</div>								
                    
				</div>
				<hr>
				<div class="modal-footer">
					<button type="button" class="btn btn-link" (click)="closeModal()">Đóng</button>
					<button type="submit" class="btn btn-primary" [disabled]="frmCTAnhSanPham.invalid">Lưu lại</button>
				</div>
			</form>
		</div>
	</div>
</div> 