  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="index3.html" class="brand-link">
      <img src="assets/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
      <span class="brand-text font-weight-light">PNJ Shop</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img  [src]="user.anhDaiDien" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
          <a href="" class="d-block">{{user.hoTen}}</a>
        </div>
      </div>
      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <li class="nav-item">
            <a [routerLink]="['/']" class="nav-link">
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>
                Trang Tổng Quan 
              </p>
            </a>
          </li>
          <li class="nav-item" *ngIf="user.loaiQuyen == 'Admin'">
            <a href="" class="nav-link">
              <i class="nav-icon fas fa-copy"></i>
              <p>
                QL Người Dùng
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a [routerLink]="['/auth/nguoi-dung']"class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Người Dùng</p>
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a href="" class="nav-link">
              <i class="nav-icon fas fa-copy"></i>
              <p>
                QL Sản Phẩm
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a [routerLink]="['/auth/san-pham']"class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Sản Phẩm</p>
                </a>
              </li>
              <li class="nav-item">
                <a [routerLink]="['/auth/danh-muc']"class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Danh Mục</p>
                </a>
              </li>
              <li class="nav-item">
                <a [routerLink]="['/auth/hoa-don-nhap']"class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Hoá Đơn Nhập</p>
                </a>
              </li>
              <li class="nav-item">
                <a [routerLink]="['/auth/nhom-san-pham']"class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Nhóm Sản Phẩm</p>
                </a>
              </li>          
            </ul>
          </li>
          <li class="nav-item">
            <a href="" class="nav-link">
              <i class="nav-icon fas fa-copy"></i>
              <p>
                QL Đơn Hàng
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a [routerLink]="['/auth/don-hang']"class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Đơn Hàng</p>
                </a>
              </li>            
            </ul>
          </li>
          <li class="nav-item">
            <a href="" class="nav-link">
              <i class="nav-icon fas fa-copy"></i>
              <p>
                QL Cấu Hình Chung
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a [routerLink]="['/auth/don-vi-tinh']"class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Đơn Vị Tính</p>
                </a>
              </li>
              <li class="nav-item">
                <a [routerLink]="['/auth/nha-san-xuat']"class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Nhà Sản Xuất</p>
                </a>
              </li>
              <li class="nav-item">
                <a [routerLink]="['/auth/nha-cung-cap']"class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Nhà Cung Cấp</p>
                </a>
              </li>
                    
            </ul>
          </li>   
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>
