<div class="breadcrumb-area">
    <div class="container">
        <div class="breadcrumb-content">
            <h2>Giới Thiệu</h2>
            <ul>
                <li><a href="index.html">Trang Chủ</a></li>
                <li class="active">Giới Thiệu</li>
            </ul>
        </div>
    </div>
</div>

<div class="about-us-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-7 d-flex align-items-center">
                <div class="overview-content">
                    <h2>Chào Mừng <span>Hiraola's</span> Store!</h2>
                    <p class="short_desc">Chúng tôi cung cấp một dịch vụ khách hàng sẽ giúp bạn đạt được mục tiêu của mình.
                        Bị từ chối, ngoại trừ một chuyến bay dễ dàng, sẽ dẫn đến những niềm vui lớn hơn, tất cả chúng ta đều có thể
                        đôi khi chúng ta bị kích động bởi tinh thần trong việc vận dụng sự sống! Bất cứ ai có thể nhận được bất kỳ điều đó?
                        Điều quan trọng là phải chăm sóc bệnh nhân để đạt được hiệu quả mỡ. Đau, không tha? chất lỏng tuyệt vời
                        mana thô hơn Tôi sẽ đến từ bị giữ.</p>
                    <div class="hiraola-about-us_btn-area">
                        <a class="about-us_btn" [routerLink]="['/san-pham']" >Cửa Hàng</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-5">
                <div class="overview-img text-center img-hover_effect">
                    <a href="#">
                        <img class="img-full" src="assets/images/about-us/1.jpg" alt="Hiraola's About Us Image">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="project-count-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-count text-center">
                    <div class="count-icon">
                        <span class="ion-ios-briefcase-outline"></span>
                    </div>
                    <div class="count-title">
                        <h2 class="count">2169</h2>
                        <span>Dự Án Đã Hoàn Thành</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-count text-center">
                    <div class="count-icon">
                        <span class="ion-ios-wineglass-outline"></span>
                    </div>
                    <div class="count-title">
                        <h2 class="count">869</h2>
                        <span>Giải Thưởng Giành Được</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-count text-center">
                    <div class="count-icon">
                        <span class="ion-ios-lightbulb-outline"></span>
                    </div>
                    <div class="count-title">
                        <h2 class="count">689</h2>
                        <span>Giờ Làm Việc</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-count text-center">
                    <div class="count-icon">
                        <span class="ion-happy-outline"></span>
                    </div>
                    <div class="count-title">
                        <h2 class="count">2169</h2>
                        <span>Khách Hàng Hài Lòng</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="team-area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section_title-2">
                    <h4>Đội ngũ của chúng tôi</h4>
                </div>
            </div>
        </div> <!-- section title end -->
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="team-member">
                    <div class="team-thumb img-hover_effect">
                        <a href="#">
                            <img src="assets/images/about-us/team/1.jpg" alt="Our Team Member">
                        </a>
                    </div>
                    <div class="team-content text-center">
                        <h3>Timothy Beck</h3>
                        <p>Chuyên da cntt</p>
                        <a href="#">info@example.com</a>
                        <div class="hiraola-social_link">
                            <ul>
                                <li class="facebook">
                                    <a href="https://www.facebook.com/" data-toggle="tooltip" target="_blank" title="Facebook">
                                        <i class="fab fa-facebook"></i>
                                    </a>
                                </li>
                                <li class="twitter">
                                    <a href="https://twitter.com/" data-toggle="tooltip" target="_blank" title="Twitter">
                                        <i class="fab fa-twitter-square"></i>
                                    </a>
                                </li>
                                <li class="youtube">
                                    <a href="https://www.youtube.com/" data-toggle="tooltip" target="_blank" title="Youtube">
                                        <i class="fab fa-youtube"></i>
                                    </a>
                                </li>
                                <li class="google-plus">
                                    <a href="https://www.plus.google.com/discover" data-toggle="tooltip" target="_blank" title="Google Plus">
                                        <i class="fab fa-google-plus"></i>
                                    </a>
                                </li>
                                <li class="instagram">
                                    <a href="https://rss.com/" data-toggle="tooltip" target="_blank" title="Instagram">
                                        <i class="fab fa-instagram"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div> <!-- end single team member -->
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="team-member">
                    <div class="team-thumb img-hover_effect">
                        <a href="#">
                            <img src="assets/images/about-us/team/2.jpg" alt="Our Team Member">
                        </a>
                    </div>
                    <div class="team-content text-center">
                        <h3>Sarah Sanchez</h3>
                        <p>Nhà thiết kế</p>
                        <a href="#">info@example.com</a>
                        <div class="hiraola-social_link">
                            <ul>
                                <li class="facebook">
                                    <a href="https://www.facebook.com/" data-toggle="tooltip" target="_blank" title="Facebook">
                                        <i class="fab fa-facebook"></i>
                                    </a>
                                </li>
                                <li class="twitter">
                                    <a href="https://twitter.com/" data-toggle="tooltip" target="_blank" title="Twitter">
                                        <i class="fab fa-twitter-square"></i>
                                    </a>
                                </li>
                                <li class="youtube">
                                    <a href="https://www.youtube.com/" data-toggle="tooltip" target="_blank" title="Youtube">
                                        <i class="fab fa-youtube"></i>
                                    </a>
                                </li>
                                <li class="google-plus">
                                    <a href="https://www.plus.google.com/discover" data-toggle="tooltip" target="_blank" title="Google Plus">
                                        <i class="fab fa-google-plus"></i>
                                    </a>
                                </li>
                                <li class="instagram">
                                    <a href="https://rss.com/" data-toggle="tooltip" target="_blank" title="Instagram">
                                        <i class="fab fa-instagram"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div> <!-- end single team member -->
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="team-member">
                    <div class="team-thumb img-hover_effect">
                        <a href="#">
                            <img src="assets/images/about-us/team/3.jpg" alt="Our Team Member">
                        </a>
                    </div>
                    <div class="team-content text-center">
                        <h3>Edwin Adams</h3>
                        <p>Nhà sáng tạo nội dung</p>
                        <a href="javascript:void(0)">info@example.com</a>
                        <div class="hiraola-social_link">
                            <ul>
                                <li class="facebook">
                                    <a href="https://www.facebook.com/" data-toggle="tooltip" target="_blank" title="Facebook">
                                        <i class="fab fa-facebook"></i>
                                    </a>
                                </li>
                                <li class="twitter">
                                    <a href="https://twitter.com/" data-toggle="tooltip" target="_blank" title="Twitter">
                                        <i class="fab fa-twitter-square"></i>
                                    </a>
                                </li>
                                <li class="youtube">
                                    <a href="https://www.youtube.com/" data-toggle="tooltip" target="_blank" title="Youtube">
                                        <i class="fab fa-youtube"></i>
                                    </a>
                                </li>
                                <li class="google-plus">
                                    <a href="https://www.plus.google.com/discover" data-toggle="tooltip" target="_blank" title="Google Plus">
                                        <i class="fab fa-google-plus"></i>
                                    </a>
                                </li>
                                <li class="instagram">
                                    <a href="https://rss.com/" data-toggle="tooltip" target="_blank" title="Instagram">
                                        <i class="fab fa-instagram"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div> <!-- end single team member -->
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="team-member">
                    <div class="team-thumb img-hover_effect">
                        <a href="#">
                            <img src="assets/images/about-us/team/4.jpg" alt="Our Team Member">
                        </a>
                    </div>
                    <div class="team-content text-center">
                        <h3>Anny Adams</h3>
                        <p>Marketing</p>
                        <a href="#">info@example.com</a>
                        <div class="hiraola-social_link">
                            <ul>
                                <li class="facebook">
                                    <a href="https://www.facebook.com/" data-toggle="tooltip" target="_blank" title="Facebook">
                                        <i class="fab fa-facebook"></i>
                                    </a>
                                </li>
                                <li class="twitter">
                                    <a href="https://twitter.com/" data-toggle="tooltip" target="_blank" title="Twitter">
                                        <i class="fab fa-twitter-square"></i>
                                    </a>
                                </li>
                                <li class="youtube">
                                    <a href="https://www.youtube.com/" data-toggle="tooltip" target="_blank" title="Youtube">
                                        <i class="fab fa-youtube"></i>
                                    </a>
                                </li>
                                <li class="google-plus">
                                    <a href="https://www.plus.google.com/discover" data-toggle="tooltip" target="_blank" title="Google Plus">
                                        <i class="fab fa-google-plus"></i>
                                    </a>
                                </li>
                                <li class="instagram">
                                    <a href="https://rss.com/" data-toggle="tooltip" target="_blank" title="Instagram">
                                        <i class="fab fa-instagram"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div> <!-- end single team member -->
        </div>
    </div>
</div>

